<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app="cad">
<!-- show cursor here -->
<div id="canvas-con" ng-controller="CanvasCtrl as canvas">
    <!--<div id="tool-bar">-->
    <!--<button>line</button>-->
    <!--</div>-->
    <canvas id="canvas">

    </canvas>
</div>

<!-- the object manager -->
<div id="obj-manager-con" ng-controller="ObjectManagerCtrl as manager">
    object manager
    <div ng-repeat="obj in manager.objects track by $index" ng-bind="obj.name"></div>
</div>

<div id="debug-con" ng-controller="DebugCtrl as debug">
    <!--<button ng-click="debug.ping()">ping</button>-->
    <!--{{debug.title}}-->
    <div>
        <button ng-click="debug.clear()">clear</button>
        <label for="filter">filter</label>
        <input type="text" ng-model="debug.filterWord" id="filter">
    </div>

    <!--{{debug.filterWord}}-->
    <!--{{debug.logs}}-->

    <div ng-repeat="log in debug.logs | filter:debug.filterWord track by $index " ng-bind="log"></div>
</div>

<!-- load all the scripts here -->
<!--<script type="text/javascript" src="vendor/raphael.js" charset="utf-8"></script>-->
<script type="text/javascript" src="vendor/fabric.js" charset="utf-8"></script>
<script type="text/javascript" src="vendor/jquery-2.1.4.js" charset="utf-8"></script>
<script type="text/javascript" src="vendor/angular.js" charset="utf-8"></script>
<script type="text/javascript" src="build/bundle.js" charset="utf-8"></script>
</body>
</html>